.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

*.exe
*.dll
*.pdb
*.ilk
*.obj
*.log
*.idb
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
*.CppClean.log

*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
ipch/
microsoft/

imgui.ini

*.tmp
[Tt]emp/
AppData/

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

_ReSharper*/
*.DotSettings.user

packages/
*.nupkg

TestResults/